@model Cool_Co_Fridge_Management.Models.FaultType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FaultType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaultTypeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaultTypeDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FaultTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
