@model Cool_Co_Fridge_Management.Models.MaintenanceRequest

<h2>Approve Service Booking</h2>
<p> Are you sure you want to approve this request?</p>

    <p>Service Request: @Model.FirstName</p>
    <p>Date Requested: @Model.RequestedDate.ToString("g")</p>

    <form method="post" actiom="Url.Action("ApproveRequestConfirmed", new { id = Model.BookingID})">
        <input type="submit" value="Approve" class="btn btn-success" />
        @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-danger"})
    </form>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
