@model Cool_Co_Fridge_Management.Models.FridgeAllocation

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="section-heading">Delete Fridge Allocation</div>

<h4>Are you sure you want to delete this allocation?</h4>
<div>
    <h4>Email: @Model.Email</h4>
    <h4>Fridge Type: @Model.FridgeType</h4>
    <h4>Status: @Model.Status</h4>
    <h4>Allocation Date: @Model.AllocationDate.ToString("MM/dd/yyyy")</h4>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="FridgeAllocationID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
