@model IEnumerable<Cool_Co_Fridge_Management.Models.FridgeRequest>

@{
    ViewData["Title"] = "View Requests";
}

<h2>Pending Fridge Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Fridge Type</th>
           
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Email</td>
                <td>@request.FridgeType?.FridgeType</td>
                
                <td>@request.Status</td>
                <td>
                    <a asp-action="AllocateFridge" asp-route-fridgeRequestId="@request.FridgeRequestID" class="btn btn-primary">Allocate Fridge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
