@model IEnumerable<Cool_Co_Fridge_Management.Models.RFQViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RFQuotation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RFQuotation">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
