@model IEnumerable<Cool_Co_Fridge_Management.Models.FridgeRequest>

<h2>Customer Fridge Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Fridge Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Email</td>
                <td>@item.FridgeType.FridgeType</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>


<a asp-controller="CustomerServices" asp-action="CustomerFridgeReq">Back</a>


