@model Cool_Co_Fridge_Management.Models.FridgeRequest

<h2>Edit Fridge Request</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="FridgeRequestID" />
    <div class="form-group">
        <label asp-for="FridgeTypeID"></label>
        <select asp-for="FridgeTypeID" class="form-control" asp-items="ViewBag.FridgeTypeID"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to List</a>

