@model IEnumerable<Cool_Co_Fridge_Management.Models.FridgeRequest>

<h2>My Fridge Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>Fridge Type</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FridgeType?.FridgeType</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Request</a>
